$blue: #2C3333;
$blue-transparent:rgba(57, 91, 100, 0.7);

$font-color: #eee;

$border-blue: 0.3rem solid #A5C9CA;
$light-blue: #A5C9CA;
$border-blue-small: 0.2rem solid #395B64;

$linear-gradient-default: linear-gradient(to bottom right, rgba(44, 51, 51, 0.8), 80%, rgba(231, 246, 242, 0.5));