@use 'colors';
@use 'fonts';

//call to action component bla bla nog iets

%cta{
    width: 11rem;
    padding: 1rem;
    font-size: 80%;
    background: colors.$light-blue;
    border: none;
    color: colors.$font-color;
    border-radius: 0.5rem;
}

%cta:hover{
    cursor: hover;
    background: darken(colors.$light-blue, 40%);
    transition: 0.2s;
}

//default header
%header{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1000px) {
    %header{
        background: red;
    }
}


// H2 heading for sections and header
%h2Handwriting{
    font-family: fonts.$handwriting;
    font-size: 380%;
    color: colors.$font-color;
}

//default sections
%section{
    padding: 4rem;
    height: 80rem;
    border-bottom: colors.$border-blue-small;
} 