@use './abstract/mixins';
@use "./abstract/colors";

body{
    @include mixins.flexCenter;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem;
    font-family: 'Oswald', sans-serif;
    background: colors.$gradient;
}