@use './abstract/mixins';
@use "./abstract/colors";

*:focus{
    outline: 0.2rem dashed blue !important;
}

body{
    @include mixins.flexCenter;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem;
    font-family: 'Oswald', sans-serif;
    background: colors.$gradient;
}

.style1{
    background: black;
}