$backgroundColor: #4649FF;


$fontVars: (
    "color": #3C4048,
    "font": 'Open Sans',
    "size": 1.6rem
);

$tasksVars: (
    "background": #DDDDDD,
    "specialFontColor": #eee,
    "listItemColor": #ececec
);

$labelVars: (
    "default": #379237,
    "purple": #a03c78,
    "orange": #e26a2c,
    "blue": #0e9aa7,
    "red": #c21010,
);

